# Install NeMo RL directly from the NVIDIA GitHub repository
git+https://github.com/NVIDIA/NeMo-RL.git

# For dataset generation
nemo-microservices[data-designer]
pandas

# For running the training script and environment
datasets
omegaconf
ray[serve]
torch
transformers
